{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block body %}
<div class="jumbotron">
  <h1 class="display-4">Wellcome To Elysium!</h1>
  <p class="lead">I wanna rock and roll all night and party every day
I wanna rock and roll all night and party every day
I wanna rock and roll all night and party every day
I wanna rock and roll all night and party every day</p>
  <hr class="my-4">
  <p>When hippos are upset, their sweat turns red.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

{% endblock %}
